<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- Latest compiled and minified CSS & JS of Bootstrap-->
	<link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
	<script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>

	<!-- Latest compiled and minified CSS of Bootflat-->
	<link rel="stylesheet" href="/bootflat.github.io-master/css/bootflat.min.css">

</head>
<body>
	<h1>Hello world</h1>
	<button type="button" class="btn btn-block">Create Feed</button>
</body>
</html>